tensorflow
pandas
dvc
notebook
numpy
seaborn
python-box
pyYAML
tqdm
ensure==1.0.2
joblib
types-pyYAML
scipy
Flask
Flask-Cors
matplotlib
-e . #  execute setup.py file which install the src/VGG classifer as the local package